@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin border($size, $style, $color) {
    border: $size $style $color;
}

@mixin transition($property, $duration, $type) {
    transition: $property $duration $type;
}

@mixin maxSize ($max, $width) {
    max-width: $max;
    width: $width;
}